<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689739244621-ut0kg2sl77nhsujln4k1iva8kes3ehrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689739244621-ut0kg2sl77nhsujln4k1iva8kes3ehrd</string>
	<key>API_KEY</key>
	<string>AIzaSyCReqvnVJgN_IflFD9CosRnyY16dmihRzA</string>
	<key>GCM_SENDER_ID</key>
	<string>689739244621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplanetbit.pro.dictionary.of.insurance</string>
	<key>PROJECT_ID</key>
	<string>pro-dictionary-of-insurance</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-dictionary-of-insurance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689739244621:ios:6941eb522f9e7e8ae1e804</string>
</dict>
</plist>